<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,830},{184,216}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,55},{184,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,192},{188,216}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,55},{188,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,816},{184,216}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,55},{184,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{188,216}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,55},{188,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,630},{184,216}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,55},{184,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,440},{188,216}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,55},{188,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,630},{184,216}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,55},{184,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,232},{228,206}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{228,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,208}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{228,208}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{228,206}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{228,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>dying_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,206}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{228,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,28},{160,224}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,440},{166,226}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,27},{166,226}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>swim_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{136,218}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{136,218}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>swim_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,608},{134,220}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{134,220}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>swim_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,382},{128,196}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,36},{128,196}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>swim_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,608},{134,218}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{134,218}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cf2b7a71ae7e1a42d348022ab793deb$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
