<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,925},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>button_music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,414},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>button_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,925},{126,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{126,84}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,489},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,46}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,717},{232,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,106}}</string>
                <key>sourceSize</key>
                <string>{232,106}</string>
            </dict>
            <key>button_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,463},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>button_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,617},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>button_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,575},{58,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>button_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,533},{58,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>button_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,457},{158,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{158,92}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>dist_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,827},{238,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,94}}</string>
                <key>sourceSize</key>
                <string>{238,94}</string>
            </dict>
            <key>dist_lab_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,3},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>dist_lab_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,223},{141,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,37}}</string>
                <key>sourceSize</key>
                <string>{141,37}</string>
            </dict>
            <key>label_gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,3},{292,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{292,76}}</string>
                <key>sourceSize</key>
                <string>{320,76}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,457},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>number_blue_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,232},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>number_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,717},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>number_blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,660},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>number_blue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,116},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>number_blue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,223},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>number_blue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,660},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>number_blue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,223},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>number_blue_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,661},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>number_blue_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,79},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>number_blue_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,489},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>number_meter_ending.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,661},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>number_yellow_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,339},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>number_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,3},{24,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{24,72}</string>
            </dict>
            <key>number_yellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,414},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>number_yellow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,414},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>number_yellow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,457},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>number_yellow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,339},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>number_yellow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,264},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>number_yellow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,264},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>number_yellow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,339},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>number_yellow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,264},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>oxygen_tank.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,232},{56,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{56,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pause_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{476,228}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{476,228}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>progress_notready.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,553},{98,104}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{98,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>progress_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,553},{97,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{97,103}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>quit_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,3},{364,216}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{364,216}}</string>
                <key>sourceSize</key>
                <string>{380,220}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,235},{473,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,218}}</string>
                <key>sourceSize</key>
                <string>{473,218}</string>
            </dict>
            <key>ui_back_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,925},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,993},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01690436a1e295db06b6bc590fa87cfd$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
