<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocker_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{114,114}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>blocker_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,462},{20,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{20,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,434},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>blocker_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>blocker_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,116},{118,118}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>blocker_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,468},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>blocker_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,28},{9,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,36}}</string>
                <key>sourceSize</key>
                <string>{9,36}</string>
            </dict>
            <key>blocker_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>blocker_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,240},{86,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{86,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>blocker_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,282},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>blocker_03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,82},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>blocker_03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,286},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>blocker_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,236},{80,116}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{80,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,462},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>blocker_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,44},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>blocker_04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,286},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>blocker_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,182},{102,118}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{102,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,434},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>blocker_05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>blocker_05_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>blocker_05_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,468},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>missle_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,316},{108,24}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,24}}</string>
                <key>sourceSize</key>
                <string>{128,24}</string>
            </dict>
            <key>missle_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,156},{128,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,24}}</string>
                <key>sourceSize</key>
                <string>{128,24}</string>
            </dict>
            <key>missle_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,240},{112,40}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>missle_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,114},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>missle_boom_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{256,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pearl_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,328},{98,104}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{98,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>pearl_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,386},{97,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{97,103}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>pearl_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,286},{98,104}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{98,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>warning_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{110,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{110,184}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eebe8137fc2e5f944113a21b75a2392c$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
