<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,358},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>button_music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,382},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>button_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,353},{126,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{126,84}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,198},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,46}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,3},{226,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{226,92}}</string>
                <key>sourceSize</key>
                <string>{232,106}</string>
            </dict>
            <key>button_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,982},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>button_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,982},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>button_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,230},{58,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>button_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,407},{58,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>button_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,3},{158,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{158,92}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>dist_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,715},{238,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,94}}</string>
                <key>sourceSize</key>
                <string>{238,94}</string>
            </dict>
            <key>dist_lab_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,813},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>dist_lab_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,198},{141,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,37}}</string>
                <key>sourceSize</key>
                <string>{141,37}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,875},{122,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hand_spot.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,235},{114,114}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>label_gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,118},{292,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{292,76}}</string>
                <key>sourceSize</key>
                <string>{320,76}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,455},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>number_blue_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,242},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>number_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,229},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>number_blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,235},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>number_blue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,194},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>number_blue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,242},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>number_blue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,165},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>number_blue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,203},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>number_blue_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,198},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>number_blue_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,714},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>number_blue_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,751},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>number_meter_ending.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,314},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>number_yellow_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,714},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>number_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,118},{24,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{24,72}</string>
            </dict>
            <key>number_yellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,239},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>number_yellow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,639},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>number_yellow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,563},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>number_yellow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,239},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>number_yellow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,639},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>number_yellow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,715},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>number_yellow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,563},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>number_yellow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,239},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>oxygen_tank.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,314},{56,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{56,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pause_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{476,228}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{476,228}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>progress_notready.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,455},{98,104}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{98,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>progress_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,875},{97,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{97,103}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>quit_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,235},{364,216}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{364,216}}</string>
                <key>sourceSize</key>
                <string>{380,220}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,3},{338,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{338,111}}</string>
                <key>sourceSize</key>
                <string>{342,181}</string>
            </dict>
            <key>ui_back_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,165},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,198},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab760029313599e9a65b29bd1b130d9$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
