<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,212},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>shark_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,212},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>shark_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,422},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>shark_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,212},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>shark_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,212},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>shark_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>shark_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>shark_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>shark_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>shark_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shark.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae2aec75081baa1c1545d7f14a4d476$</string>
            <key>textureFileName</key>
            <string>shark.png</string>
        </dict>
    </dict>
</plist>
