<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocker_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,200},{114,114}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,186},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>blocker_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,316},{20,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{20,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,478},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>blocker_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,482},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>blocker_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,80},{118,118}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,294},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>blocker_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,474},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>blocker_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,316},{9,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,36}}</string>
                <key>sourceSize</key>
                <string>{9,36}</string>
            </dict>
            <key>blocker_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,432},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>blocker_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{86,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{86,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,316},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>blocker_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,316},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>blocker_03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,444},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>blocker_03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,316},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>blocker_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{80,116}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{80,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,253},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>blocker_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,444},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>blocker_04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,228},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>blocker_04_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,444},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>blocker_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{102,118}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{102,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blocker_05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,228},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>blocker_05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,268},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>blocker_05_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,432},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>blocker_05_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,278},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>blocker_06U.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,76}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{294,76}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>blocker_06U_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,228},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{38,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blocker_06U_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,190},{32,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blocker_06U_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,190},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{36,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blocker_06U_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,432},{40,44}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>missle_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{122,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>missle_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>missle_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,228},{92,37}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{92,37}}</string>
                <key>sourceSize</key>
                <string>{128,41}</string>
            </dict>
            <key>missle_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{110,31}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{110,31}}</string>
                <key>sourceSize</key>
                <string>{128,41}</string>
            </dict>
            <key>missle_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,129},{118,59}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,59}}</string>
                <key>sourceSize</key>
                <string>{128,59}</string>
            </dict>
            <key>missle_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,68},{126,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,59}}</string>
                <key>sourceSize</key>
                <string>{128,59}</string>
            </dict>
            <key>missle_boom_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,80},{104,48}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,39},{104,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missle_boom_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,120},{84,68}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{84,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missle_boom_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,190},{98,98}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{98,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pearl_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,338},{98,104}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{98,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>pearl_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,327},{97,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{97,103}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>pearl_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,338},{98,104}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{98,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>warning_sign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,444},{44,65}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{44,65}}</string>
                <key>sourceSize</key>
                <string>{54,103}</string>
            </dict>
            <key>warning_sign_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{54,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{54,93}}</string>
                <key>sourceSize</key>
                <string>{54,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc6d11719674a76dd8b68675b1f8c92$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
