<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>fish01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>fish01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{60,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,36}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>fish01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,66},{60,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,36}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>fish01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish-01.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d148763aa961e43a6778238343340f1$</string>
            <key>textureFileName</key>
            <string>fish-01.png</string>
        </dict>
    </dict>
</plist>
