<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_forward_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,4},{160,72}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>player_forward_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{160,72}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{160,72}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>player_forward_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,4},{158,74}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{158,74}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>player_forward_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,82},{154,72}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{154,72}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>player_forward_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,320},{152,70}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{152,70}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>player_forward_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,84},{154,70}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{154,70}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>player_forward_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,160},{154,68}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{154,68}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>player_forward_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,320},{154,68}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{154,68}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>player_forward_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,160},{154,68}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{154,68}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
            <key>player_forward_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,82},{154,72}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{154,72}}</string>
                <key>sourceSize</key>
                <string>{168,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc216c7a2fa3c6a207d2f3ce0ac4281$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
