<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dolphin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{226,82}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>dolphin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,334},{224,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{224,80}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>dolphin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,86},{226,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>dolphin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,170},{226,80}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{226,80}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>dolphin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{226,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>dolphin_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>dolphin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{224,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{224,80}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>dolphin_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>dolphin_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,252},{224,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{224,80}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>whale_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,626},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>whale_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>whale_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,590},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>whale_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>whale_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,503},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>whale_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,416},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>whale_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>whale_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,416},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>whale_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{208,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{208,85}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>riders.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2727b94d2a512c105f5183c6b82284a1$</string>
            <key>textureFileName</key>
            <string>riders.png</string>
        </dict>
    </dict>
</plist>
