<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,86},{226,82}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,86},{226,80}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{226,80}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,86},{226,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{226,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{224,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{224,80}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{226,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,250},{224,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{224,80}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,82}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,168},{224,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{224,80}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{226,82}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dolphin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd94fd24d055b45fb4dff7797be0043f$</string>
            <key>textureFileName</key>
            <string>dolphin.png</string>
        </dict>
    </dict>
</plist>
