<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazyamber.ttlusmmy"
    android:versionCode="10200"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /-->
    <!--uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /-->
    <!--uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--uses-permission android:name="android.permission.CALL_PHONE" / -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- uses-permission android:name="android.permission.CHANGE_WIFI_STATE" / -->
    <!-- uses-permission android:name="android.permission.VIBRATE" / -->
    <!-- uses-permission android:name="android.permission.RECORD_AUDIO" / -->
    <!-- uses-permission android:name="android.permission.CAMERA" / -->
    <!-- uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" / -->
    
    <!-- wooboo -->
    <!--
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->

    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
	-->
	
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="505e7242527015053c00007f" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="mumayi" >
        </meta-data>
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>
        
        <!--金蛋模块-->
		<activity
        	android:label="推荐列表"
        	android:name="com.mobile.app.adlist.GEList"    
        	android:theme="@android:style/Theme.NoTitleBar" 
        	android:configChanges="orientation|keyboardHidden|locale"  	
        	android:screenOrientation="portrait"
        	>
        </activity>
        <activity
        	android:name="com.mobile.app.adpush.GELaunchNotify"
        	android:theme="@android:style/Theme.Translucent"
        	android:configChanges="orientation|keyboardHidden|locale"
        	>        	
        </activity>
        <receiver
            android:name="com.mobile.app.utils.GESoftInspector"     
            >  
             <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>   
                <data android:scheme="package"/>         
             </intent-filter>         
        </receiver>
        <!-- 
        <meta-data android:name="GE-UID" android:value="10000"/>
        <meta-data android:name="GE-PID" android:value="T1001"/>
         -->
        
    </application>

</manifest>